@import "../../styles/colors";

.edit-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;

  label {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input, textarea, select {
      text-align: left;
      width: 75%;
    }
    .block-name-edit {
      display: flex;
      justify-content: space-between;
      width: 75%;
      select {
        width: 33%;
      }

      input {
        width: 63%;
      }
    }
  }
}

.edit-actions {
  width: 75%;
  margin-top: 30px;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}

.add_tag_button {
  background: $blue;
  color: #fff;
  height: 38px;
  padding: 0px 20px;
  cursor: pointer;
}

.warning_border {
  border:1px solid red;
}

.emptyWarn {
  color: red;
}